
// Elements with actions need pointers
label,
input[type='submit'],
button {
	cursor: pointer;
}

// Remove -webkit styles from text inputs
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='date'],
input[type='week'],
input[type='month'],
input[type='datetime'],
input[type='datetime-local'],
input[type='time'],
input[type='number'],
input[type='search'],
input[type='password'],
textarea {
	appearance: none;
}


// Inputs, Textareas, Selects
input,
textarea {
	padding: 0 pxToRem(20);
  max-width: 100%;
  width: 100%;
	font-size: pxToRem(16);
	color: $greyB;
	background: $colorWhite;
	border: pxToRem(2) solid $greyA;
	border-radius: 0;
	vertical-align: middle;
	display: inline-block;
	transition: all 100ms;
	white-space: nowrap;
	height: pxToRem(50);
	outline: none;
	margin-bottom: $vr;

	@media #{$BPD} {
		padding: 0 pxToRem($vr * 2);
		font-size: pxToRem(16);
	}

	@include placeholder($greyD);

	&[disabled] {
		background: #f0f0f0;
		border-color: #ddd;
		color: $colorText;
		cursor: not-allowed;

		&:hover,
		&:focus {
			border-color: transparent;
		}
	}

	&[readonly] {
		cursor: not-allowed;

		&:hover,
		&:focus {
			border-color: #ccc;
		}
	}

	&::-ms-clear {
		display: none;
	}
}

label {
  margin-bottom: pxToRem($vr);
}

fieldset,
.fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: pxToRem($vr * 4);

  &.fieldset--vertical {
    display: flex;
  }
}
